@import url('https://fonts.googleapis.com/css?family=Droid+Sans');
@import url('https://fonts.googleapis.com/css?family=Goudy+Bookletter+1911');
body {
    margin: 0;
    padding: 0;
    background: #222b39;
    font-family: Georgia, 'Times New Roman', Times, serif;
}


/* HORIZONTAL LONG SECTIONS BACKGROUNDS */

header {
    color: #fff;
    background-image: url(/static/images/background-home-top.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

main {
    background-color: #f4f4f4;
    background-image: url(/static/images/squares.png);
    background-repeat: repeat;
    padding-bottom: 20px;
}

.nh-callout {
    background-color: #fff;
}

.nh-footer-cols {
    background-image: url(/static/images/stripes-dark.png);
    background-image: url(/static/images/stripes-dark.png), linear-gradient(#2a3f54, #151b26);
    background-repeat: repeat;
}

footer {
    background: linear-gradient(#0e131c, #131a25);
}


/* PAGE WIDTH */

.nh-content {
    width: 60%;
    margin: 0 auto;
}


/* FONTS */

h2,
h3 {
    font-family: 'Goudy Bookletter 1911', serif;
    font-size: 1.6em;
}


/* SHADOWS */

.nh-shadow-dark {
    text-shadow: 1px 1px 0px rgb(0, 0, 0);
}

.nh-shadow-light,
.nh-btn-white {
    text-shadow: 1px 1px 0px rgb(255, 255, 255);
}

header {
    border-bottom: 1px solid #fff;
    box-shadow: 0 0 10px #77808d;
    position: relative;
}

.nh-callout {
    box-shadow: 0 5px 10px -5px #000;
    position: relative;
}


/* HEAD NAV ROW */

.nh-head-nav {
    background-color: #fff;
    background-image: linear-gradient(top, rgba(0, 0, 0, 0) 0, rgba(0, 0, 0, 0.06) 50%, rgba(0, 0, 0, 0.09) 51%, rgba(0, 0, 0, 0.18) 100%);
    background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 0, rgba(0, 0, 0, 0.06) 50%, rgba(0, 0, 0, 0.09) 51%, rgba(0, 0, 0, 0.18) 100%);
    background-image: -moz-linear-gradient(top, rgba(0, 0, 0, 0) 0, rgba(0, 0, 0, 0.06) 50%, rgba(0, 0, 0, 0.09) 51%, rgba(0, 0, 0, 0.18) 100%);
    color: #000;
    box-shadow: 1px 1px 4px #000;
    font-family: 'Droid Sans', sans-serif;
    font-size: 0.8em;
    border-radius: 8px;
    margin: 10px 0;
    padding: 10px;
}

.nh-float-right {
    float: right;
}

.nh-nav ul {
    list-style: none;
    /* text-align: center; */
    padding: 0;
    margin: 0;
}

.nh-nav li {
    display: inline-block;
    padding: 5px;
}

.nh-row {
    padding: 10px 0;
}

.nh-head-row::after {
    content: "";
    clear: both;
    display: table;
}


/* .nh-head-row-item {
    box-sizing: border-box;
    display: inline-block;
    line-height: 50px;
    margin: 0;
    padding: 0 15px;
    text-align: center;
    vertical-align: middle;
} */

.nh-logo {
    max-width: 150px;
    display: inline-block;
    vertical-align: middle;
}

.nh-logo-small {
    max-width: 100px;
    vertical-align: middle;
}

.nh-slogan {
    font-style: italic;
    color: #77808d;
}


/* HEAD CAROUSEL ROW */

.nh-head-care {
    min-height: 300px;
    text-align: center;
    margin-top: 50px;
}

.nh-head-care-text {
    width: 100%;
    height: 100%;
}

.nh-head-care-text h2 {
    font-size: 3em;
}

.nh-head-care-text p {
    font-style: italic;
    color: #77808d;
    font-size: 1.5em;
}


/* MAIN  */

.nh-action-btns {
    text-align: center;
}

.nh-btn-blue {
    color: #fff;
    padding: 5px 15px;
    margin: 2px;
    background-color: #6daab1;
    background: linear-gradient(#6daab1, #4b7d82);
    font-family: 'Goudy Bookletter 1911', serif;
    font-size: 1.5em;
    /* border: 1px solid #4b7d82; */
    border-top: 1px solid rgba(155, 198, 204, 0.7);
    border-right: 1px solid rgba(75, 125, 130, 0.5);
    border-bottom: 1px solid rgba(75, 125, 130, 0.7);
    border-left: 1px solid rgba(155, 198, 204, 0.5);
    /* box-shadow: 0 0 0 1px #6daab1, 0 0 0 2px #4b7d82; */
    box-shadow: 0 0 0 1px #4b7d82;
    border-radius: 5px;
    position: relative;
    top: -22px;
}

.nh-btn-white {
    padding: 3px 10px;
    background: linear-gradient( #fff, #efefef);
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    color: #7e9294;
}


/* Makes the read more button align right */

.nh-btn-container {
    text-align: right;
}

.nh-btn-white,
.nh-blurbs p,
.nh-footer-cols p,
.nh-footer-cols li {
    font-family: 'Droid Sans', sans-serif;
    font-size: 0.85em;
}

.nh-blurbs p {
    color: #8c8b8b;
    line-height: 1.7em;
}

.nh-blurbs h3 {
    color: #758b8d;
}

.nh-callout h3 {
    margin: 0;
    padding: 0 20px;
    color: #979797;
    display: inline-block;
}

.nh-img-sq {
    width: 70px;
    height: 70px;
    float: left;
    background-color: #fff;
    margin: 5px 10px 2px 0;
    border: 1px solid rgba(0, 0, 0, 0.1);
}

.nh-media {
    background-color: rgb(220, 220, 220);
    background-image: url(/static/images/stripes.png);
    background-repeat: repeat;
    border-radius: 5px;
    padding: 20px;
    text-align: center;
    margin: 20px 0;
}

.nh-media img {
    width: 100%;
    height: 100px;
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, 0.1);
    /* margin: 5px; */
    display: inline-block;
}

.nh-callout {
    text-align: center;
}

.nh-callout .nh-content {
    padding: 20px;
}

.nh-callout .nh-content button {
    margin-top: 10px;
}

.nh-triangle {
    width: 0;
    height: 0;
    background: transparent;
    border-top: 20px solid #fff;
    border-left: 20px solid transparent;
    border-bottom: 20px solid transparent;
    border-right: 20px solid transparent;
    float: left;
    position: relative;
    left: 50%;
}


/* FOOTER COLS */

.nh-footer-cols p,
.nh-footer-cols li,
footer li {
    color: #aebdd1;
}

.nh-copyright,
.nh-footer-cols h3 {
    color: #fff;
}

.nh-footer-cols ul {
    -webkit-padding-start: 20px;
}

.nh-padding-top {
    padding-top: 10px;
}


/* FOOTER NAV */