<div class="nh-content">
    <section class="row nh-blurbs nh-shadow-light nh-row">
        <div class="col-md-4">
            <h3>What We Offer</h3>
            <img src="" alt="offer" class="nh-img-sq nh-img-md">
            <p>Lorem ipsum dolor sit amet, nec persecuti posidonium ut. Clita sanctus qui ex. In pri putent voluptaria, harum
                nemore vivendum ea quo. Eu nec homero graeco mandamus, ius cu dicit vituperata.
            </p>
            <div class="nh-btn-container">
                <button class="nh-btn-white btn-default">Read More</button>
            </div>
        </div>
        <div class="col-md-4">
            <h3>Who We Are</h3>
            <img src="" alt="about" class="nh-img-sq nh-img-md">
            <p>Lorem ipsum dolor sit amet, nec persecuti posidonium ut. Clita sanctus qui ex. In pri putent voluptaria, harum
                nemore vivendum ea quo. Eu nec homero graeco mandamus, ius cu dicit vituperata.
            </p>
            <div class="nh-btn-container">
                <button class="nh-btn-white btn-default">Read More</button>
            </div>
        </div>
        <div class="col-md-4">
            <h3>Our Missions</h3>
            <img src="" alt="mission" class="nh-img-sq nh-img-md">
            <p>Lorem ipsum dolor sit amet, nec persecuti posidonium ut. Clita sanctus qui ex. In pri putent voluptaria, harum
                nemore vivendum ea quo. Eu nec homero graeco mandamus, ius cu dicit vituperata.
            </p>
            <div class="nh-btn-container">
                <button class="nh-btn-white btn-default">Read More</button>
            </div>
        </div>
    </section>

    <section class="container-fluid nh-media">
        <div class="row">
            <div class="col-xs-12  col-md-offset-1 col-md-2">
                <img src="" alt="video">
            </div>
            <div class="col-xs-12 col-md-2">
                <img src="" alt="video">
            </div>
            <div class="col-xs-12 col-md-2">
                <img src="" alt="video">
            </div>
            <div class="col-xs-12 col-md-2">
                <img src="" alt="video">
            </div>
            <div class="col-xs-12 col-md-2">
                <img src="" alt="video">
            </div>
        </div>
        <div id="home-videos" class="row" style="border: 1px solid red ">

            <!-- LOADER -->
            <i class="fa fa-spinner fa-pulse fa-3x fa-fw"></i>Loading videos...
            <span class="sr-only">Loading content...</span>

        </div>
    </section>
</div>

<section class="nh-callout ">
    <div class="nh-content ">
        <h3>We offer the most beautiful and sturdy kites anywhere</h3>
        <button class="nh-btn-white btn-default">Read More</button>
    </div>
    <div class="nh-triangle "></div>
</section>
