<div class="nh-content">
    <section class="row nh-blurbs nh-shadow-light nh-row">
        <div class="col-md-4">
            <h3>What We Offer</h3>
            <a href="/#blog">
                <img src="/src/static/images/kite-flying-flying-disc.jpg" alt="offer" class="nh-img-sq nh-img-md">
            </a>
            <p>We strive to promote public awareness of the pleasures and educational opportunities that kites provide. They
                can remind us about how we interact with our environment and each other. Kites can be a source of community
                building, breaking down barriers that typically prevent us from interacting. No words are needed to fly a
                kite.
            </p>
            <div class="nh-btn-container">
                <a href="/#blog">
                    <button class="nh-btn-white btn-default">Read More</button>
                </a>
            </div>
        </div>
        <div class="col-md-4">
            <h3>Who We Are</h3>
            <a href="/#about">
                <img src="/src/static/images/kite-green.jpg" alt="about" class="nh-img-sq nh-img-md">
            </a>
            <p>We are men, women, adults and children, from all walks of life. Our interests run from kitebuilding to multi-line
                kite competition, from miniature kites, to aerial photography and more. Some of us are in the kite trade,
                but we are not a trade organization.
            </p>
            <div class="nh-btn-container">
                <a href="/#about">
                    <button class="nh-btn-white btn-default">Read More</button>
                </a>
            </div>
        </div>
        <div class="col-md-4">
            <h3>Guide</h3>
            <a href="/#about">
                <img src="/src/static/images/kite-flying.jpg" alt="mission" class="nh-img-sq nh-img-md">
            </a>
            <p>Welcome to the wide world of kiting, you’ve found the right place for getting a good start – kite flying is not
                difficult, and even a few basic pieces of information regarding wind, safety and set up can significantly
                improve your flight experience.
            </p>
            <div class="nh-btn-container">
                <a href="/#about">
                    <button class="nh-btn-white btn-default">Read More</button>
                </a>
            </div>
        </div>
    </section>

    <section class="container-fluid nh-media">
        <div id="home-videos" class="row">

            <!-- LOADER -->
            <i class="fa fa-spinner fa-pulse fa-3x fa-fw"></i>Loading videos...
            <span class="sr-only">Loading content...</span>

        </div>
    </section>
</div>

<section class="nh-callout ">
    <div class="nh-content ">
        <h3>We offer the most beautiful and sturdy kites anywhere</h3>
        <a href="/#about">
            <button class="nh-btn-white btn-default">Read More</button>
        </a>
    </div>
    <div class="nh-triangle "></div>
</section>
