<div class="nh-content nh-row ">
    {{!-- breadcrumbs --}}
    <div class="row">
        <div class="col-sm-12">
            H > H > H
        </div>
    </div>

    <div class="row nh-row nh-margins-lr ">
        <section class="col-md-8 nh-row">
            <div id="post-list" class="row nh-margins-lr nh-padding-right" style="border: 1px solid red">
                <article class="nh-post nh-shadow-light">
                    <h2>Post Title</h2>
                    <p class="nh-slogan">Subtitle</p>
                    <div class="nh-clearfix">
                        <img src="" alt="post" class="nh-img-sq nh-img-lg">
                        <p>Lorem ipsum dolor sit amet, nec persecuti posidonium ut. Clita sanctus qui ex. In pri putent voluptaria,
                            harum nemore vivendum ea quo. Eu nec homero graeco mandamus, ius cu dicit vituperata.
                        </p>
                    </div>
                    <div class="nh-btn-container">
                        <button class="nh-btn-white btn-default nh-shadow-light">Read More</button>
                    </div>
                </article>
            </div>
            <div class="row nh-margins-lr nh-row nh-btn-container nh-padding-right">
                Paging
            </div>
        </section>
        <aside class="col-md-4 border-left">

            <div class="row nh-row nh-shadow-light nh-margins-lr">
                <div>
                    <h3>Recent Comments</h3>
                    <ul id="aside-comments" style="border: 1px solid red">
                        <!-- LOADER -->
                        <i class="fa fa-spinner fa-pulse fa-3x fa-fw"></i>Loading commets...
                        <span class="sr-only">Loading content...</span>
                    </ul>
                </div>
                <div>
                    <h3>Recent Posts</h3>
                    <ul id="aside-recent" style="border: 1px solid red">
                        <!-- LOADER -->
                        <i class="fa fa-spinner fa-pulse fa-3x fa-fw"></i>Loading posts...
                        <span class="sr-only">Loading content...</span>
                    </ul>
                </div>
                <div>
                    <h3>Archives</h3>
                    <ul id="aside-archive" style="border: 1px solid red">
                        <!-- LOADER -->
                        <i class="fa fa-spinner fa-pulse fa-3x fa-fw"></i>Loading posts...
                        <span class="sr-only">Loading content...</span>
                    </ul>
                </div>
            </div>
        </aside>
    </div>
</div>
