<div class="nh-content nh-row ">
    {{!-- breadcrumbs --}}
    <div class="row">
        <div class="col-sm-12">
            Home &raquo; Events
        </div>
    </div>

    <div id="inner-content" class="row nh-row nh-margins-lr ">
        <section class="col-md-8 nh-row">
            <div id="post-list" class="row nh-margins-lr nh-padding-right" style="border: 1px solid red">
                <!-- LOADER -->
                <i class="fa fa-spinner fa-pulse fa-3x fa-fw"></i>Loading posts...
                <span class="sr-only">Loading content...</span>
            </div>
            <div class="row nh-margins-lr nh-row nh-btn-container nh-padding-right">
                Pages 1 2 3
            </div>
        </section>
        <aside id="aside-content" class="col-md-4 border-left">
            <div class="row nh-row nh-shadow-light nh-margins-lr">
                <div>
                    <h3>Recent Comments</h3>
                    <ul id="aside-comments" style="border: 1px solid red">
                        <!-- LOADER -->
                        <i class="fa fa-spinner fa-pulse fa-3x fa-fw"></i>Loading comments...
                        <span class="sr-only">Loading content...</span>
                    </ul>
                </div>
                <div>
                    <h3>Recent Posts</h3>
                    <ul id="aside-recent" style="border: 1px solid red">
                        <!-- LOADER -->
                        <i class="fa fa-spinner fa-pulse fa-3x fa-fw"></i>Loading posts...
                        <span class="sr-only">Loading content...</span>
                    </ul>
                </div>
                <div>
                    <h3>Archives</h3>
                    <ul id="aside-archive" style="border: 1px solid red">
                        <!-- LOADER -->
                        <i class="fa fa-spinner fa-pulse fa-3x fa-fw"></i>Loading posts...
                        <span class="sr-only">Loading content...</span>
                    </ul>
                </div>
            </div>
        </aside>
    </div>
</div>
