<article class="nh-post nh-shadow-light">

    <div class="nh-clearfix">
        <img src="{{model.imgurl}}" alt="post" class="nh-img-sq nh-img-xl">
        <p>{{model.details}}
        </p>
    </div>
</article>

<section>
    <h3>Comments</h3>
</section>
